<html>
<head>
	<title>Yod Smarty</title>
</head>
<body>
Yod Test Utils
<hr />
<ul>
	<li><a href="{$WEBROOT}/application" target="_blank">Application</a></li>
	<li><a href="{$WEBROOT}/request" target="_blank">Request</a></li>
	<li><a href="{$WEBROOT}/controller" target="_blank">Controller</a></li>
	<li><a href="{$WEBROOT}/action" target="_blank">Action</a></li>
	<li><a href="{$WEBROOT}/widget" target="_blank">Widget</a></li>
	<li><a href="{$WEBROOT}/model" target="_blank">Model</a></li>
	<li><a href="{$WEBROOT}/dbmodel" target="_blank">DbModel</a></li>
	<li><a href="{$WEBROOT}/database" target="_blank">Database</a></li>
	<li><a href="{$WEBROOT}/dbpdo" target="_blank">DbPdo</a></li>
</ul>
</body>
</html>